{% extends 'base.html.twig' %}

{% block title %}GESNAT - ACCUEIL{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/assets/css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ asset('assets/assets/css/core.css') }}">
<link rel="stylesheet" href="{{ asset('assets/assets/css/components.css') }}">
<link rel="stylesheet" href="{{ asset('assets/assets/icons/fontawesome/styles.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/lib/css/chartist.min.css') }}">

<!-- Sweet Alert Css -->
<link href="{{ asset('assets/sweetalert/sweetalert.css') }}" rel="stylesheet" />

<!-- PAGE LEVEL STYLESHEETS -->
<link rel="stylesheet" href="{{ asset('assets/lib/css/jquery.dataTables.min.css') }}">
<!-- /PAGE LEVEL STYLESHEETS -->

{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; width: 95%; height:300px; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <img src="{{ asset('assets/assets/img/logonew.jpg') }}" alt="" class="">
                            </div>
                        </div>
                    </div>
</div>
{% endblock %}

{% block javascripts %}

<script type="text/javascript" src="{{ asset('assets/lib/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/lib/js/tether.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/lib/js/bootstrap.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('assets/assets/js/app.min.js') }}"></script>


<!-- Sweet Alert Plugin Js -->
<script src="{{ asset('assets/sweetalert/sweetalert.min.js') }}"></script>

<!-- PAGE LEVEL SCRIPTS -->
<script type="text/javascript" src="{{ asset('assets/lib/js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/assets/js/pages_datatables.min.js') }}"></script>
<!-- /PAGE LEVEL SCRIPTS -->

{% endblock %}