{% extends 'base.html.twig' %}

{% block title %}GESNAT - SORTIE{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/assets/css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ asset('assets/assets/css/core.css') }}">
<link rel="stylesheet" href="{{ asset('assets/assets/css/components.css') }}">
<link rel="stylesheet" href="{{ asset('assets/assets/icons/fontawesome/styles.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/lib/css/chartist.min.css') }}">

<!-- Sweet Alert Css -->
<link href="{{ asset('assets/sweetalert/sweetalert.css') }}" rel="stylesheet" />

<!-- PAGE LEVEL STYLESHEETS -->
<link rel="stylesheet" href="{{ asset('assets/lib/css/jquery.dataTables.min.css') }}">
<!-- /PAGE LEVEL STYLESHEETS -->

{% endblock %}

{% block body %}

         

<!-- PAGE CONTENT -->
            <div class="content-wrapper">
                <div class="content">
                    <div class="row">
                    
                    {% for message in app.flashes('success') %}
                      <div class="alert alert-success" style="margin:auto; font-weight: bold;">
                          {{ message }}
                      </div>
                    {% endfor %}
                       
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-block">
                                    <h5 class="card-title">Sortie de stock</h5>
                                    <legend class="text-bold margin-top-30">Informations</legend>
                                    <form action="{{ path('enregistrer_sortie') }}" method="post" class="form-horizontal" id="form1">
                                        <div class="row">
                                            
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <div class="col-md-2">
                                                        <label class="control-label col-form-label">Produit</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <select name="type" id="type" class="form-control" name="desig"  required>
                                                            <option value="">Sélectionner</option>
                                                            {% for p in produits %}
                                                                <option value="{{ p.id }}">{{ p.designation }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                
                                                    
                                                    
                                                                                                  
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-md-2">
                                                        <label class="control-label col-form-label">Quantité sortie</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="text" class="form-control" name="qtesortie" required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <div class="col-md-2">
                                                        <label class="control-label col-form-label">Description</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <textarea class="form-control" name="description">
                                                        </textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                  <div class="col-md-9">
                                                  <button type="submit" class="btn btn-primary">
                                                   Enregistrer
                                                  <i class="fa fa-arrow-right position-right"></i>
                                                  </button>
                                                  </div>
                                                </div>

                                            </div>    
                                        </div>

                                <legend class="text-bold margin-top-30">Liste des sorties</legend>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-block">
                                    
                                    <table class="display datatable table table-stripped" id="tableau" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Code</th>
                                                <th>Désignation</th>
                                                <th>Quantité sortie</th>
                                                <th>Description</th>
                                                <th>Date</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                           {% for s in sorties %}
                                            <tr>
                                                <td>{{ s.id }}</td>
                                                <td> {{ s.produit.designation }} </td>
                                                <td> {{ s.qtesortie }} </td>
                                                <td> {{ s.description }} </td>
                                                <td>{{ s.datemodif|date('d-m-Y') }}</td>
                                            </tr>
                                            {% else %}
                                                <tr><td>Aucune sortie enregistrée</td></tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- /PAGE CONTENT -->

{% endblock %}


{% block javascripts %}

<script type="text/javascript" src="{{ asset('assets/lib/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/lib/js/tether.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/lib/js/bootstrap.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('assets/assets/js/app.min.js') }}"></script>


<!-- Sweet Alert Plugin Js -->
<script src="{{ asset('assets/sweetalert/sweetalert.min.js') }}"></script>

<!-- PAGE LEVEL SCRIPTS -->
<script type="text/javascript" src="{{ asset('assets/lib/js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/assets/js/pages_datatables.min.js') }}"></script>
<!-- /PAGE LEVEL SCRIPTS -->




{% endblock %}

